body{
  margin: 0;
}
.wrapper{
  margin: auto;
  width: 90%;
}
.logo, .menu{
  display: inline-block;
}
.header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.logo{
  margin-right: 0px;
  position: relative;
  padding: 40px 0;
  padding-left: 42px;
  font: 700 24px/32px pt_serifregular,arial,helvetica,sans-serif;
}
.menu{
  display: flex;
  align-items: center;
}
.menu__item{
  position: relative;
  margin-right: 25px;
  margin-top: 5px;
  font: 500 14px/16px robotomedium,arial,helvetica,sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}
.menu__item:last-child{
  margin-right: 0px;
}
.logo__circle{
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.logo__circle_color_blue{
  left: 8px;
  top: 56%;
  background: #C8DBFB;
  border-radius: 50%;
  opacity: .7;
}
.logo__circle_color_dark-blue{
  background: #0056EC;
  border-radius: 50%;
}
.menu__item::after{
  position: absolute;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  left: 0;
  background: #0056EC;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}
.menu__item_active::after{
  position: absolute;
  display: block;
  content:'';
  width: 100%;
  height: 3px;
  left: 0;
  background: #C8DBFB;
}
.menu__item:hover:after{
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  left: 0;
  background: #0056EC;
}
.main{
  padding: 0 40% 200px 0;
}
.main__image{
  position: absolute;
  top: 0px;
  margin-top: 19%;
  left: 46%;
  width: 50%;
  height: 100%;
  background: top right no-repeat url('img/image1024.svg');
}
.main__title{
  margin: 0 0 40px 0;
  font: bold 50px/66px pt_serifbold,arial,helvetica,sans-serif;
}
.main__text{
  margin: 0 200px 55px 0;
  font: 500 18px/21px robotomedium, arial, helvetica, sans-serif;
}
.main__button{
  font: 500 14px/16px robotomedium, arial, helvetica,sans-serif;
  padding: 14px 18px;
  color: #FFF;
  background: #0056EC;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}
.main__title-text_highlight{
  background: #ECF3FF;
}
.main__button:hover{
  background: #FFF;
  color: #000;
  box-shadow: inset 0 0 0 3px #52D2BC;
}
.menu__hamburger{
  display: none
}
@media (max-width: 768px){
  .menu{
    display: none;
  }
  .header{
    margin: 0 10px 38px 0;
  }
  .logo{
    margin-left: 5px;
  }
  .main{
    text-align: center;
    padding: 67% 0 0 0;
    background-size:74%;
    background-position: top center;
  }
  .main__title{
    margin-bottom: 32px;
    font: bold 30px/40px pt_serifbold,arial,helvetica,sans-serif;
  }
  .main__text{
    margin: 0 40px 42px 40px;
    font: 500 16px/19px robotomedium,arial,helvetica,sans-serif;
  }
  .main__button{
    font: 500 14px/16px robotomedium,arial,helvetica,sans-serif;
  }
  .main__image{
    position: absolute;
    top: 0px;
    margin-top: 24%;
    left: 12%;
    width: 75%;
    height: 100%;
    background: top center no-repeat url('img/imageMobile.svg');
  }
  .logo__text{
    display: none;
  }
  .menu__hamburger{
    display: inline-block;
    position: relative;
    margin: 0 20px 0 0;
  }
  #menu__toggle{
    display: none;
  }
  .menu__button{
    display: flex;
    align-items: center;
    position: absolute;
    padding: 40px 0;
    width: 25px;
    height: 3px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__button > span,
  .menu__button > span::before,
  .menu__button > span::after{
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background: #5193F4;
  }
  .menu__button > span::before{
    content: '';
    top: -8px;
    background: #0056EC;
  }
  .menu__button > span::after{
    content: '';
    top: 8px;
    background: #C8DBFB;
  }
  .menu__box{
    display: block;
    position: fixed;
    visibility: hidden;
    top: 100px;
    left: -100%;
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background: #FFF;
  }
  .menu__item_box{
    display: block;
    padding: 12px 24px;
    color: #000;
    font: 500 20px 'robotomedium',arial,helvetica, sans-serif;
    text-decoration: none;
  }
  .menu__item_box:hover{
    background: #C8DBFB;
  }
  #menu__toggle:checked ~ .menu__button > span{
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__button > span::before{
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__button > span::after{
    top: 0;
    transform: rotate(90deg);
    background: #52D2BC;
  }
  #menu__toggle:checked ~ .menu__box{
    visibility: visible;
    left: 50%;
  }
  }
  @media (min-width: 1366px) and (max-width: 1900px) {
   .logo{
     margin-left: 150px;
     font: 700 24px/32px pt_serifregular,arial,helvetica,sans-serif;
   }
   .menu{
    margin-right: 160px;
    }
    .main{
      margin: 0 150px;
    }
    .main__text{
      margin: 0 85px 55px 0;
    }
    .main__button{
      padding: 14px 16px;
    }
    .main__image{
      position: absolute;
      top: 0px;
      margin-top: 14%;
      left: 46%;
      width: 38%;
      height: 100%;
      background: top right no-repeat url('img/image1366.svg');
    }
    }
  @media (min-width: 1901px){
    .header{
      margin-bottom: 200px;
    }
    .logo{
      margin-left: 100px;
    }
    .menu{
      margin-right: 110px
    }
    .menu__item{
      font: 500 18px/21px robotomedium,arial,helvetica,sans-serif;
    }
    .main{
      margin: 0 200px 0 100px;
    }
    .main__title{
      font: bold 66px/87px pt_serifbold,arial,helvetica,sans-serif;
    }
    .main__text{
      margin-right: 300px;
      margin-bottom: 60px;
      font: 500 22px/26px robotomedium, arial, helvetica, sans-serif;
    }
    .main__button{
      font: 500 18px/21px robotomedium, arial, helvetica,sans-serif;
      padding: 19px 28px;
  }
  .main__image{
    position: absolute;
    top: 0px;
    left: 50%;
    margin-top: 13%;
    width: 40%;
    height: 100%;
    background: top right no-repeat url('img/image1920.svg');
  }
