body{
  margin: 0;
}
.wrapper{
  margin: auto;
  width: 90%;
}
.logo, .menu{
  display: inline-block;
}
.header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 11%;
}
.logo{
  position: relative;
  margin-right: 0%;
  padding: 4% 0;
  padding-left: 4%;
  font: bold 24px/32px pt_serifregular,arial,helvetica,sans-serif;
}
.logo__text{
  font: 24px/32px;
  transition: font-size 1s linear;
}
.menu{
  display: flex;
  align-items: center;
}
.menu__item{
  position: relative;
  margin: 9px 25px 0 0;
  font: 500 14px/16px robotomedium,arial,helvetica,sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}
.menu__item:last-child{
  margin-right: 0px;
}
.logo__circle{
  position: absolute;
  width: 28px;
  height: 28px;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
}
.logo__circle_color_blue{
  left: 8px;
  top: 56%;
  background: #C8DBFB;
  border-radius: 50%;
  opacity: .7;
  animation: blue_move 1s;
}
.logo__circle_color_dark-blue{
  background: #0056EC;
  border-radius: 50%;
  animation: dark-blue_move 1s;
}
@keyframes dark-blue_move {
  0%{
    left: -185%;
  }
  100%{
    left: 0;
  }
}
@keyframes blue_move {
  0%{
    left: 8px;
    top: -20%;
  }
  100%{
    left: 8px ;
    top: 56%;
  }
}
.menu__item::after{
  position: absolute;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  left: 0;
  background: #0056EC;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}
.menu__item_active::after{
  position: absolute;
  display: block;
  content:'';
  width: 100%;
  height: 3px;
  left: 0;
  background: #C8DBFB;
}
.menu__item:hover:after{
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  left: 0;
  background: #0056EC;
}
.main{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  margin-top: -1%;
  height: 439px;
  background: top right no-repeat url('img/image1024.svg');
}
.main__left{
  margin: 1.5% 0 0 -.5%;
  max-width: 50%;
  flex-grow: 0;
  flex-shrink: 0;
}
.main__title{
  margin: 0 0 8% 0;
  font: bold 50px/66px pt_serifbold,arial,helvetica,sans-serif;
}
.main__text{
  margin: 0 19% 12% 0;
  font: 500 18px/21px robotomedium, arial, helvetica, sans-serif;
}
.main__button{
  font: 500 14px/16px robotomedium, arial, helvetica,sans-serif;
  padding: 14px 18px;
  color: #FFF;
  background: #0056EC;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}
.main__title-text_highlight{
  background-color: #ECF3FF;
  transition: background-color 1s linear;
}
.main__title-text_highlight:hover{
  background-color: rgba(126, 232, 212, .5);
}
.main__button:hover{
  background: #FFF;
  color: #000;
  box-shadow: inset 0 0 0 3px rgba(126, 232, 212, .5);
}
.menu__hamburger{
  display: none
}
@media (max-width: 768px){
  .menu{
    display: none;
  }
  .header{
    margin: 8.5% 0;
  }
  .logo{
    margin-left: 2%;
  }
  .main{
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    text-align: center;
    padding: 26% 0 0 0;
    margin-top: 0%;
    margin-left: 0%;
    background: top center no-repeat url('img/imageMobile.svg');
  }
  .main__left{
    margin-left: 1%;
    max-width: 100%;
  }
  .main__title{
    margin-bottom: 9%;
    font: bold 30px/40px pt_serifbold,arial,helvetica,sans-serif;
  }
  .main__text{
    margin: 0% 10% 12% 11%;
    font: 500 16px/19px robotomedium,arial,helvetica,sans-serif;
  }
  .main__button{
    font: 500 14px/16px robotomedium,arial,helvetica,sans-serif;
  }
  .logo__text{
    display: none;
  }
  .menu__hamburger{
    position: relative;
    display: inline-block;
    margin: -29px 31px 0 0;
  }
  #menu__toggle{
    display: none;
  }
  .menu__button{
    position: absolute;
    display: flex;
    align-items: center;
    padding: 40px 0;
    width: 25px;
    height: 3px;
    cursor: pointer;
    z-index: 3;
  }
  .menu__button > span,
  .menu__button > span::before,
  .menu__button > span::after{
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background: #5193F4;
  }
  .menu__button > span::before{
    content: '';
    top: -8px;
    background: #0056EC;
  }
  .menu__button > span::after{
    content: '';
    top: 8px;
    background: #C8DBFB;
  }
  .menu__box{
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0%;
    left: -100%;
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 140px 0;
    list-style: none;
    text-align: center;
    background: #FFF;
    z-index: 2;
  }
  .menu__item_box{
    display: block;
    padding: 12px 24px;
    color: #000;
    font: 500 20px 'robotomedium',arial,helvetica, sans-serif;
    text-decoration: none;
  }
  .menu__item_box_ref{
    color: #000;
    text-decoration: none;
  }
  #menu__toggle:checked ~ .menu__button > span{
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__button > span::before{
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__button > span::after{
    top: 0;
    transform: rotate(90deg);
    background: #52D2BC;
  }
  #menu__toggle:checked ~ .menu__box{
    visibility: visible;
    left: 50%;
  }
}
@media (min-width: 1366px) and (max-width: 1900px) {
  .logo{
    margin: -1% 0 0 12.5%;
    font: 700 24px/32px pt_serifregular,arial,helvetica,sans-serif;
  }
   .logo__text{
    margin: 3% 0 0 -4%;
  }
  .menu{
    margin: -1% 13% 0 0;
  }
  .main{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin: -5% 12.5% 0 12.5%;
    background: top right no-repeat url('img/image1366.svg');
  }
  .main__left{
    margin-top: 2%;
  }
  .main__text{
    margin: 0 15% 11.5% 0;
  }
  .main__button{
    padding: 14px 16px;
  }
}
@media (min-width: 1901px){
  .header{
    margin-top: -2%;
  }
  .logo{
    margin-left: 6%;
    padding-left: 2.5%;
  }
  .logo__text{
    padding-top: 3%;
  }
  .menu{
    margin-right: 110px;
  }
  .menu__item{
    font: 500 18px/21px robotomedium,arial,helvetica,sans-serif;
  }
  .main{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin: -5% 6% 0 6%;
    height: 657px;
    background: top right no-repeat url('img/image1920.svg');
  }
  .main__left{
    margin-top: 5%;
  }
  .main__title{
    margin-bottom: 5%;
    font: bold 66px/87px pt_serifbold,arial,helvetica,sans-serif;
  }
  .main__text{
    margin: 0 37% 7% 0;
    font: 500 22px/26px robotomedium, arial, helvetica, sans-serif;
  }
  .main__button{
    padding: 19px 28px;
    font: 500 18px/21px robotomedium, arial, helvetica,sans-serif;
  }
}
@media (min-width: 540px) and (max-width: 768px) {
  .main{
    padding-top: 43%;
    margin-top: -4%;
    background: top center no-repeat url('img/image1024.svg');
  }
  .menu__hamburger{
    margin-top: -22px;
  }
}
